body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.splash-page {
  min-height: 100vh;
}

.splash-card {
  height: 500;
}

.splash-logo {
  min-height: 100vh;
  border: #000000;
}

.welcome-message {
  text-align: center;
  align-items: center;
  justify-content: 'center';
}

.profile-pic {
  border-radius: 50%;
}

.toolbar-pic {
  border-radius: 50%;
  transform: scale(0.5);
  position: absolute;
  top: -20px;
  right: -20px;
}

input[type='file'] {
  display: none;
}

.weather-widget {
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  #city {
    font-weight: 800;
  }
  #main {
    font-weight: 800;
  }
  #date {
    font-size: small;
  }
  #high {
    font-size: small;
  }
  #low {
    font-size: small;
  }
}
