body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.welcome-message {
  text-align: center;
  align-items: center;
  justify-content: 'center';
}

.profile-pic {
  border-radius: 50%;
}

.toolbar-pic {
  border-radius: 50%;
  transform: scale(0.5);
  position: absolute;
  top: -20px;
  right: -20px;
}

.number-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  width: 75vw;
  height: 62vh;
  margin: auto;
  display: table;
  background-color: #fdfdfd;
}

.logo {
  max-height: 100px;
  max-width: 90vw;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
