$myColor:#24255f;

.welcome-message {
  text-align: center;
  align-items: center;
  justify-content: 'center'
}

.trip-container {
  text-align: center;
  align-items: center;
  justify-content: 'center';
  overflow:'visible';
  float:'right';
}

.pat-container {
  text-align: center;
  align-items: center;
  justify-content: 'center';
}

.profile-pic {
  border-radius: 50%;
}

input[type=file] {
  display: none;
}