main {
  height: 500vh;
  background-color: #dbdef0;
}

.welcome-message {
  text-align: center;
  align-items: center;
  justify-content: 'center';
}
.trip-button {
  text-align: center;
  align-items: center;
  justify-content: 'center';
  overflow: 'visible';
}
.pat-container {
  text-align: center;
  align-items: center;
  justify-content: 'center';
}
.profile-pic {
  border-radius: 50%;
  width: 100px;
}

.toolbar-pic {
  border-radius: 50%;
  width: 95px;
  transform: scale(0.5);
  position: absolute;
  top: -20px;
  right: -20px;
}
.toolbar-pic {
  border-radius: 50%;
  transform: scale(0.5);
  position: absolute;
  top: -20px;
  right: -20px;
}
input[type='file'] {
  display: none;
}
.trips {
  padding-top: 20px;
  padding-bottom: 20px;
}
.active-trip {
  padding-top: 20px;
  padding-bottom: 20px;
}
